[submodule "backend"]
	path = backend
	url = https://github.com/Jackyman666/momentum-ai-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/Jackyman666/momentum-ai-frontend.git
